# Dependencies
/node_modules
/.pnpm-store

# Next.js build output
/.next/
/out/

# Database files
/prisma/dev.db
/prisma/dev.db-journal

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vercel
.vercel

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
*.tsbuildinfo

